.customCard {
  
  margin: 1%;
  min-height: 6rem;
  padding: 5%;
  text-align: left;
  cursor: pointer;
}


.col {
  flex-grow: 0;
}
.card-title {
  font-size: medium;
}


.customCard > img {
  width: 30%;
}
.board-type {
    margin: 1%;
    text-align: left;
}
/* .customCard > .btn {
  text-align: center;
  width: 50px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
} */

.rename-btn {
  text-align: center;
  width: 50px;
  position: absolute;
  right: 50px;
  bottom: 0;
  z-index: 2;
}

.delete-btn {
  text-align: center;
  width: 50px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
/* @media screen and (max-width: 360px) {
  .customCard {
    max-width: 9rem;
    min-width: 9rem;
    min-height: 6rem;
    max-height: 6rem;

    padding: 1rem;
    margin: 1%;
    font-size: small;
  }

  .row {
    margin: auto;
  }
}

@media screen and (max-width: 320px) {
    .customCard {
      max-width: 100%;
      min-width: 100%;
      min-height: 6rem;
      max-height: 6rem;
  
      padding: 1rem;
      margin: 1%;
      font-size: small;
    }

    .row {
        margin: auto;
      }
  } */
